/build.xml
/CoreNLP-to-HTML.xsl
/corenlp.sh
/ejml-0.23-src.zip
/ejml-0.23.jar
/input.txt
/input.txt.xml
/javax.json-api-1.0-sources.jar
/javax.json.jar
/joda-time-2.9-sources.jar
/joda-time.jar
/jollyday-0.4.9-sources.jar
/jollyday.jar
/LIBRARY-LICENSES
/LICENSE.txt
/Makefile
/pom.xml
/protobuf.jar
/SemgrexDemo.java
/ShiftReduceDemo.java
/slf4j-api.jar
/slf4j-simple.jar
/stanford-corenlp-3.7.0-javadoc.jar
/stanford-corenlp-3.7.0-models.jar
/stanford-corenlp-3.7.0-sources.jar
/stanford-corenlp-3.7.0.jar
/stanford-corenlp-full-2016-10-31.zip
/stanford-english-corenlp-2016-10-31-models.jar
/stanford-english-kbp-corenlp-2016-10-31-models.jar
/StanfordCoreNlpDemo.java
/StanfordDependenciesManual.pdf
/xom-1.2.10-src.jar
/xom.jar
